<ng-container *ngIf="getToken()==true">

  

</ng-container>

<ng-container *ngIf="getToken()==true">

  <button (click)=deconnexion()>Deconnexion</button>
  <app-menu></app-menu>

</ng-container>

<router-outlet></router-outlet>

<!-- <p [textContent]="title"></p>
<ul>
  <ng-container *ngFor="let item of tab; index as i">
    <li *ngIf="item > 0; else si">Élément {{ i }} = {{ item }} est positif</li>

    <ng-template #si>
      <li *ngIf="item < 0; else sinon">
        Élément {{ i }} = {{ item }} est négatif
      </li>
    </ng-template>
    <ng-template #sinon>
      <li>Élément {{ i }} = {{ item }} est nul</li>
    </ng-template>
  </ng-container>
  <ng-container *ngFor="let item of personnes; index as i; let isEven = even">
    <li *ngIf="isEven; else si">{{ item.nom }}</li>
    <ng-template #si>
      <li>{{ item.prenom }}</li>
    </ng-template>
  </ng-container>
  <ng-container *ngFor="let elt of tab">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="elt > 0" [ngClass]="elt > 0 ? 'red' : 'blue'">{{ elt }} est positif</li>
      <li *ngSwitchCase="elt < 0" [ngClass]="elt > 0 ? 'red' : 'blue'">{{ elt }} est négatif</li>
      <li *ngSwitchCase="elt == 0" [ngClass]="{'green':elt == 0} ">{{ elt }} est nul</li>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let elt of tab">
    
      <li [ngClass]="{'red' : elt>0, 'blue':elt<0}">{{ elt }} est positif</li>
     
   
  </ng-container>
  
</ul> -->
